<nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
  <a class="navbar-brand" href="#">Money Moves for Teens</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item px-4">
        <a class="nav-link text-dark" href="{{site.baseurl}}/">Home</a>
      </li>
      <li class="nav-item px-4">
        <a class="nav-link text-dark" href="episodes">Episodes</a>
      </li>
      <li class="nav-item px-4">
        <a class="nav-link text-dark" href="contribute">Contribute</a>
      </li>
      <li class="nav-item px-4">
        <a class="nav-link text-dark" href="contribute">About</a>
      </li>
    </ul>
  </div>
</nav>
