<nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
  <a class="navbar-brand text-decoration-none" href="{{site.baseurl}}/">Money Moves for Teens</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item px-4 {% if page.url == '/' %}active{% endif %}">
        <a class="nav-link text-dark" href="{{site.baseurl}}/">Home</a>
      </li>
      <li class="nav-item px-4 {% if page.permalink == 'episodes' %}active{% endif %}">
        <a class="nav-link text-dark" href="episodes">Episodes</a>
      </li>
      <li class="nav-item px-4 {% if page.permalink == 'contribute' %}active{% endif %}">
        <a class="nav-link text-dark" href="contribute">Contribute</a>
      </li>
      <li class="nav-item px-4 {% if page.permalink == 'about' %}active{% endif %}">
        <a class="nav-link text-dark" href="about">About</a>
      </li>
    </ul>
    <a class="btn btn-outline-secondary text-uppercase" href="https://mmft.buzzsprout.com/1341670">Subscribe</a>
  </div>
</nav>
