<div id="654387351954919681" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><div id="buzzsprout-player-5380684">

<iframe src="https://www.buzzsprout.com/1341670/5380684-17-money-mistakes-to-avoid-as-an-adult-get-ahead-in-your-teens?client_source=small_player&amp;iframe=true&amp;referrer=https://www.buzzsprout.com/1341670/5380684-17-money-mistakes-to-avoid-as-an-adult-get-ahead-in-your-teens.js?container_id=buzzsprout-player-5380684&amp;player=small" width="100%" height="200" frameborder="0" scrolling="no" title="Money Moves for Teens, 17. Money mistakes to avoid as an adult (get ahead in your teens)"></iframe>


</div>
<script src="https://www.buzzsprout.com/1341670/5380684-17-money-mistakes-to-avoid-as-an-adult-get-ahead-in-your-teens.js?container_id=buzzsprout-player-5380684&amp;player=small" type="text/javascript" charset="utf-8"></script></div>
