<button class="btn btn-{{page.button-style}}" type="button" data-toggle="collapse" data-target="#subscribe-to-podcast" aria-expanded="false" aria-controls="collapseExample">
  Subscribe to my podcast
</button>
<div class="collapse" id="subscribe-to-podcast">
  <div class="mt-2">
    <ul class="list-unstyled mb-0">
      <li class="mb-2"><a class="btn btn-light" target="_blank" href="https://podcasts.apple.com/us/podcast/money-moves-for-teens/id1513765051">Apple Podcasts</a></li>
      <li class="mb-2"><a class="btn btn-light" target="_blank" href="https://open.spotify.com/show/73hQ29j396y2cYs77bnXGr">Spotify</a></li>
      <li class="mb-2"><a class="btn btn-light" target="_blank" href="https://podcasts.google.com/?feed=aHR0cHM6Ly9mZWVkcy5zb3VuZGNsb3VkLmNvbS91c2Vycy9zb3VuZGNsb3VkOnVzZXJzOjQ5MjUxMDM1NC9zb3VuZHMucnNz&ved=0CAIQ7dUFahcKEwjQ7YGB1cfpAhUAAAAAHQAAAAAQFA">Google Podcasts</a></li>
      <li><a class="btn btn-light" target="_blank" href="https://mmft.buzzsprout.com/1341670">See more options</a></li>
  </div>
</div>
