<div class="row bg-light rounded">
  <div class="col-md-4 p-4">
    <div class="card p-4 border-0 bg-light">
      <div class="card-body text-center">
        <img src="{{site.baseurl}}/assets/img/{{page.who1-icon}}" class="w-25" alt="green piggy bank">
        <h3 class="card-title">{{page.who1}}</h3>
        <p class="card-text border-top border-primary pt-3">{{page.who1-description}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 p-4">
    <div class="card p-4 border-0 bg-light">
      <div class="card-body text-center">
        <img src="{{site.baseurl}}/assets/img/{{page.who2-icon}}" class="w-25" alt="people chatting about money">
        <h3 class="card-title">{{page.who2}}</h3>
        <p class="card-text border-top border-primary pt-3">{{page.who2-description}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 p-4">
    <div class="card p-4 border-0 bg-light">
      <div class="card-body text-center">
        <img src="{{site.baseurl}}/assets/img/{{page.who3-icon}}" class="w-25" alt="video conference">
        <h3 class="card-title">{{page.who3}}</h3>
        <p class="card-text border-top border-primary pt-3">{{page.who3-description}}</p>
      </div>
    </div>
  </div>
</div>
