{% include head.html %}

<section class="mmft-hero">

<div class="container">

<div class="row justify-content-end">
  <div class="col-md-6">
  <div class="card mt-6 mb-9 p-4 border-0 opacity-4">
    <div class="card-body">
      <p class="card-subtitle mb-2 text-muted h4">Welcome to the</p>
      <h1 class="card-title display-4">Money Moves for Teens Podcast</h1>
      <p class="card-text lead">I’m Talia, and I created this podcast because I think kids my age don’t get a good enough education on how to manage money. This is something we should be learning and talking about now so we’ll be better prepared for the future.</p>
      <a href="#" class="btn btn-lg btn-primary">Check out my latest episode below</a>
    </div>
  </div>

</div> <!--col-->
</div> <!--row-->
</div> <!--container-->
</section>


  {{content}}

{% include foot.html %}
